@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Zen+Loop:ital@0;1&display=swap");

.big-shoulders {
  font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.zen-loop {
  font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-style: normal;
}

.loading-dots::after {
  content: "";
  animation: blink-dots 1.2s steps(4, start) infinite;
}

@keyframes blink-dots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}

:root {
  --glowing-blue: rgb(99, 122, 166);
}
.rule {
  color: rgb(99, 122, 166);
}
.glowing-blue {
  text-shadow: 2px 2px 6px rgb(99, 122, 166),
    -2px -2px 6px rgb(99, 122, 166), 2px -2px 6px rgb(99, 122, 166),
    -2px 2px 6px rgb(99, 122, 166);
  color: rgb(113, 187, 233);
}

.glowing-blue-border{
        box-shadow: 0 0 20px #373774;
    border: solid 2px #71bbe9;
}



body{background-color: #2c2a45;}
